.card-new .cd-slider__container {
    outline: none;
}

.card-new .card__title{
    padding: 37px 30px 6px;
}

.card-new .card__subtitle {
    margin: 0;
    padding: 0 30px 28px;
    color: #707e85;
    font-size: 22px;
    font-weight: 400;
}

.card-new .cd-slider__icon {
    position: absolute;
    bottom: auto;
    top: 17px;
    right: 17px;
    background-color: #fff;
    font-size: 22px;
    color: #fff;
    width: 38px;
    height: 39px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card-new .cd-slider__icon img {
    margin-left: 1px;
}

.card-new .cd-slider {
    margin-bottom: 25px;
}

.card-new .cd-slider__slide,
.card-new .cd-slider__slide_nav {
    background-size: cover;
}

.card-new .cd-slider-nav {
    padding: 0 28px;
}

.card-new .cd-slider-nav .slick-slide {
    margin: 0 9px;
    padding: 0;
    border: 0;
}

.card-new .cd-slider__slide_nav {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0.5;
}

.card-new .slick-slide.slick-current .cd-slider__slide_nav {
    opacity: 1;
}

.card-new  .slick-slide.slick-current .cd-slider__slide_nav:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #0cbaee;
}

.card-new .card-details {
    margin-top: -2px;
}

.card-new .card-details__left {
    padding-right: 100px;
}

.card-new .card-descr {
    margin: 0 20px 20px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgba(216,216,216, 0.5);
}

.card-new .card-descr .available {
    margin: 0;

}

.card-new .card-descr li {
    margin-bottom: 9px;
}

.card-new .article .card-descr__text {
    margin-top: -2px;
    padding: 5px 6px;
    font-size: 12px;
    line-height: 16px;
    border: 1px solid #e2e5e7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.card-new .card-params__item {

}

.card-new .card-params__title {
    margin-bottom: 5px;
}

.card-new .card-params-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card-new .card-params-list a {
    display: block;
    margin: 0 11px 10px 0;
    padding: 5px;
    font-size: 12px;
    line-height: 16px;
    color: #707e85;
    border: 1px solid #e2e5e7;
    background-color: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
}

.card-new .card-params-list a.active {
    background-color: #0cbaee;
    border-color: #0cbaee;
    color: #fff;
}

.card-new a.show-more {
    position: relative;
    display: table;
    margin-top: 3px;
    padding-right: 17px;
    color: #0cbaee;
    font-size: 13px;
    line-height: 20px;
}

.card-new a.show-more:after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: 10px;
    height: 6px;
    background: url(../img-new/show-more.png) no-repeat;
}

.card-new a.show-more.active {
    margin-top: 13px;
}

.card-new a.show-more.active:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

.card-new .card-params-hidden,
.card-new .hide__btn,
.card-new a.show-more.active .show__btn {
    display: none;
}

.card-new a.show-more.active .hide__btn {
    display: block;
}

.card-new .card-details__right {
    width: 42%;
    padding-right: 7px;
}

.card-new .price_border_container {
    padding: 0;
    font-size: 18px;
}

.card-new .card-count {
    margin:3px 0 14px;
}

.card-new .card-count .b-number {
    margin-right: 3px;
}

.card-new .card-nds__text {
    font-size: 13px;
    line-height: 20px;
}

.card-new .card-nds {
   margin:0 0 14px 0;
}

.card-new .card-buy {
    margin-bottom: 30px;
}

.card-new .card-buy a {
    position: relative;
    display: table;
    margin-bottom: 15px;
    padding: 1px 10px 1px 52px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
    background-color: #ffffff;
    color: #707e85;
    font-size: 13px;
    line-height: 32px;
}

.card-new .card-buy a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.card-new .buy-by-card:before {
    background-image: url(../img-new/card.png);
}

.card-new .buy-organization:before {
    background-image: url(../img-new/organization.png);
}

.card-new .terms-receipt {
    margin-bottom: 15px;
}

.card-new .terms-receipt__head {
    margin-bottom: 10px;
    color: #707e85;
    font-size: 13px;
    line-height: 20px;
}

.card-new .terms-receipt__list {
    padding: 10px 20px 12px 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e2e5e7;
    background-color: #f8f8f8;
    font-size: 12px;
    line-height: 18px;
}

.card-new .terms-receipt__list .list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.card-new .terms-receipt__list .list__item:last-child {
    margin-bottom: 0;
}

.card-new .terms-receipt__list .item__img {
    margin-right: 15px;
}

.card-new .terms-receipt__list .item__desc {
    width: calc(100% - 50px);
}

.card-new .terms-receipt__list .item__desc span {
    font-weight: 500;
}

.card-new .card-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card-new .card-icon a {
    margin-right: 18px;
}

@media screen and (max-width: 1199px) {
    .card-new .card-details__left {
        padding-right: 30px;
    }
}

@media screen and (max-width: 1024px) {
    .card-new .card-wrap {
        padding-bottom: 10px;
    }

    .card-new .card__title {
        padding: 28px 21px 5px;
        font-size: 28px;
    }

    .card-new .card__subtitle {
        padding: 0 21px 24px;
    }

    .card-new .card-slider {
        width: 49%;
    }

    .card-new .card-details {
        width: 51%;
    }

    .card-new .card-details {
        margin-top: -6px;
        padding-left: 27px;
    }

    .cd-slider__slide--container:before {
        padding-top: 72%;
    }

    .card-new .cd-slider {
        margin-bottom: 19px;
    }

    .card-details__left-flex,
    .card-details__right {
        -webkit-flex-wrap: wrap;
        ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card-new .card-descr,
    .card-new .card-params {
        width: 100%;
    }

    .card-new .card-params {
        width: 100%;
    }

    .card-new .card-descr {
        margin: 0 10px 20px 0;
        padding: 0 0 10px 0;
    }

    .card-new .card-details__left {
        padding-right: 15px;
    }

    .card-new .card-details__left-flex {
        padding-bottom: 21px;
        border-bottom: 1px solid rgba(216,216,216, 0.5);
    }

    .card-new .card-details__right {
        width: auto;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-top: 10px;
        padding-right: 36px;
    }

    .card-new .card-count {
        margin: 3px 0 10px;
    }

    .card-new .card-buy {
        margin-bottom: 5px;
    }

    .card-new .card-icon {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .card-new .card-icon .data-link {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {

    .card-new .card__title {
        padding: 20px 14px 12px;
        font-size: 20px;
        line-height: 24px;
    }

    .card-new .card__subtitle {
        padding: 0 13px 20px;
        line-height: 18px;
        font-size: 16px;
    }

    .card-new .card-slider {
        width: auto;
        margin-bottom: 3px;
    }

    .card-new .cd-slider__icon {
        top: 20px;
        right: 23px;
    }

    .card-new .card-details {
        width: auto;
        margin: 0;
        padding: 0;
    }

    .card-new .card-descr li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .card-new  .card-slider .slick-dots {
        bottom: -3px;
    }

    .card-new .card-details__left {
        padding-right: 0;
    }

    .card-new .card-descr {
        margin-right: 0;
    }

    .card-new .card-details__left-flex {
        border: 0;
    }

    .card-new .card-details__right {
        position: relative;
        padding: 2px 0 10px 10px;
    }

    .card-new .card-count {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-flex-wrap: wrap;
        ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .card-new .card-count .b-number {
        width: 100%;
        margin-bottom: 9px;
        padding-right: 75px;
    }

    .card-new .card-count .b-btn {
        width: 123px;
    }

    .card-new .card-nds {
        margin: 0 0 8px 0;
    }

    .card-new .card-buy,
    .card-new .terms-receipt {
        margin-bottom: 0px;
    }

    .card-new .card-icon {
        transform: none;
        top: 18px;
        right: 0;
    }

    .card-new .card-icon .data-link {
        margin-right: 0;
        margin-left: 18px;
    }
}

