.popup-open {
    overflow: hidden!important;
    margin-right: 17px!important;
}

.popup__overlay {
    position: fixed;
    box-sizing: border-box;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 1;
    overflow: auto;

}

.popup__item {
    position: relative;
    max-width: 580px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
}

/*.buy-organization {*/
    /*display: none;*/
/*}*/

.popup__item .close__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../img-new/close.png) center no-repeat;
    background-color: #e9f3f7;
}

.popup__item h4 {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.popup__item .product__item,
.popup__item .product__info_top,
.popup__item .product__info_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.popup__item .product__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(112, 126, 133, 0.4);
}

.popup__item  .product__img {
    display: block;
    width: 70px;
    height: auto;
    margin: 0 20px 0 0;
}

.popup__item  .product__info {
    width: calc(100% - 90px);
}

.popup__item .product__info_top {
    margin-bottom: 11px;
    font-size: 11px;
    font-weight: 300;
    color: #707e85;
}

.popup__item .product__code {
    margin-right: 51px;
}

.popup__item .product__info_top span {
    color: #202528;
}

.popup__item .product__desc {
    margin-bottom: 19px;
    font-size: 12px;
    line-height: 14px;
}

.popup__item .product__info_bottom {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.popup__item .product__status {
    margin-right: 31px;
    font-size: 13px;
}

.popup__item .product__status.in-stock {
    color: #8fd14f;
}

.popup__item .product__count {
    margin-right: 30px;
}

.popup__item .product__price {
    font-size: 15px;
    margin: 0;
}

.popup__item .b-number .icon {
    width: 1em;
}

.popup__item .b-number:hover {
    border-color: #202528;
    color: #202528;
}

.popup__item .b-number:hover input {
    color: #202528;
}

.popup__item .b-number:hover g {
    opacity: 1!important;
}

.popup__item .b-number:hover path {
    fill: #202528;
}

.popup__item .total-price {
    margin-bottom: 17px;
    font-size: 15px;
}

.popup__item .total-price span {
    margin-right: 8px;
    color: #707e85;
}

.popup__item .total-price strong {
    font-weight: 500;
}

.popup__item .delivery-method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -7.5px;
}

.popup__item .delivery-method__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 19px;
    padding: 0 7.5px;
    text-align: center;
}

.popup__item .delivery-method input {
    display: none;

}

.popup__item .delivery-method__item label {
    width: 150px;
    height: 84px;
    padding: 9px 0 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #dfe1e4;
    background-color: #ffffff;
    cursor: pointer;
}

.popup__item .delivery-method__item input + label {
    background: url(../img-new/round_check.png) no-repeat;
    background-position: 9px 9px;
}

.popup__item .delivery-method__item input:checked + label {
    background: url(../img-new/delivery-cheched.png) no-repeat;
    background-position: 9px 9px;
    border: 1px solid #0cbaee;
}

.popup__item .delivery-method__item img {
    margin: 0 auto;
}

.popup__item .delivery-method__item .item__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    margin-bottom: 6px;
}

.popup__item .delivery-method__item .item__desc {
    color: #2f302e;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.16px;
}

.popup__item .form-field {
    margin-bottom: 21px;
}

.popup__item .form-label .zw {
    color: #d6263c;
}

.popup__item .form-input {
    font-size: 15px;
}

.popup__item a.yandex-link {
    display: block;
    margin-top: 10px;
    padding: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffcc00;
    font-size: 13px;
    line-height: 24px;
    text-align: center;
}

.popup__item .form-input-raw {
    position: relative;
}

.popup__item .input__phone.form-input-raw:after,
.popup__item .input__phone .form-input-raw:after {
    margin-left: 15px;
}

.popup__item .submit__btn {
    display: block;
    max-width: 228px;
    width: 100%;
    margin: -7px auto 15px;
    padding: 15px 10px;
    background-color: #0cbaee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 15px;
}

.popup__item .consent__field {
    position: relative;
    display: table;
    margin: 0 auto;
    padding-left: 20px;
    color: #b7bec1;
    font-size: 11px;
    line-height: 16px;
}

.popup__item .consent__field label {
    display: inline;
    cursor: pointer;
}
.popup__item .consent__field input + label:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #b7bec1;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.popup__item .consent__field input:checked + label:before {
    background: url(../build/images/chbx-act.e9abd08c.svg) no-repeat 50%;
    background-size: cover;
    border-color: #0cbaee;
}

.popup__item .consent__field a {
    color: #0cbaee;
}

.popup__item .requisites {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 21px;
}

.popup__item .requisites .form-field{
    width: 50%;
    padding-right: 10px;
}

.popup__item .organiztion-info {
    width: 50%;
    font-size: 12px;
    line-height: 20px;
}

.popup__item .organiztion-address {
    color: #707e85;
}

@media screen and (max-width: 480px) {
    .popup__item {
        padding: 50px 11px;
    }

    .popup__item h4 {
        padding-left: 10px;
        max-width: 160px;
    }

    .popup__item .product__item {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .popup__item .product__img {
        margin: 0 0 8px 0;
    }

    .popup__item .product__info {
        width: auto;
    }

    .popup__item .product__code {
        margin-right: 31px;
    }

    .popup__item .product__desc {
        font-size: 13px;
        line-height: 15px;
    }

    .popup__item .product__status {
        margin-right: 26px;
    }

    .popup__item .product__price {
        font-size: 13px;
    }

    .popup__item .delivery-method {
        margin: 0 -11px;
    }

    .popup__item .delivery-method__item {
        padding: 0 10px;
    }

    .popup__item .delivery-method__item label {
        width: 140px;
    }

    .popup__item .submit__btn {
        max-width: none;
    }

    .popup__item .requisites {
        margin-bottom: 20px;
        padding-bottom: 19px;
        border-bottom: 1px solid rgba(112, 126, 133, 0.4);
    }

    .popup__item .requisites .form-field {
        width: 100%;
        margin-bottom: 9px;
        padding: 0;
    }

    .popup__item .organiztion-info {
        width: auto;
    }
}